<div class="container text-center">
  <!-- Search Form -->
  <form action="/search" method="GET" class="mb-4" style="margin-top: 20px;"> <!-- Added margin-top -->
    <div class="input-group">
      <input type="text" name="query" class="form-control" placeholder="Search for plants" aria-label="Search" aria-describedby="button-search" required>
      <button class="btn" type="submit" id="button-search" style="background-color: #0b680f; color: white;">Search</button> <!-- Darker green for the button -->
    </div>
  </form>



  <!-- Plant Cards -->
  <div class="row">
    {{#each posts}}
    <div class="col-md-4">
      <div class="card mb-4">
        <a href="/post/{{postid}}" class="text-decoration-none text-dark">
       <div class="card-header" style="background-color:#9DC183; color: white;">
        <h4 class="card-title" style="margin: 0;">{{title}}</h4>
      </div>
        <img src="{{titleimagepath}}" class="card-img-top" alt="{{title}}" onerror="this.src='/images/default-plant.jpg'">
        <div class="card-body">
          <p class="card-text">{{descriptions}}</p>
        </div>
        </a>
      </div>
    </div>
    {{else}}
    <div class="col-md-12">
      <p>No plants found.</p>
    </div>
    {{/each}}
  </div>
</div>
