{{> head}}

{{!-- TODO: --}}

<div class="container">
    <div class="post-image">
        <img src="{{post.titleimagepath}}" alt="{{post.title}}" class="title-image" style="max-width: 100%; height: auto; max-height: 400px;">
    </div>
    <h2>{{post.title}}</h2>
  
  <!-- Hardcoded Box with plant image and description -->
    <div class="post-container">
        <!-- Other post details here -->
        <div class="info-box">
            <p>
                Posted by: 
                <a href="/profile/{{user.username}}" class="profile-link" style="text-decoration: none; color: inherit;">
                    <img src="{{user.profilepicture}}" alt="Profile Picture" class="profile-icon" style="width: 24px; height: 24px; border-radius: 50%; vertical-align: middle; margin-right: 5px;">
                    <strong>{{user.username}}</strong>
                </a>
            </p>
            <p>
                Created on: 
                <small>{{post.formattedCreateTime}}</small>
            </p>
        </div>

        <div class="post-content">
            {{#each sections}}
                <h5>{{this.sectiontitle}}</h5>
                <img src="{{this.imgpath}}" alt="{{this.sectiontitle}}" class="section-image" style="max-width: 100%; height: auto; max-height: 200px;">
                <p>{{this.content}}</p>
            {{/each}}
        </div>
        
        <!-- Comments Section -->
        <div class="comments-section">
            <h4>Comments</h4>
            {{#each comments}}
                <div class="comment-box">
                    <p>
                        <a href="/profile/{{this.username}}" class="profile-link" style="text-decoration: none; color: inherit;">
                            <strong>{{this.username}}</strong>
                        </a>
                        <small>{{this.formattedCreateTime}}</small>
                    </p>
                    <p class="comment-text">{{this.commenttext}}</p>
                </div>
            {{/each}}
        </div>
    </div>
</div>


{{> message}}
{{> footer}}