{{> head}}
{{> message}}
<div class="usermain">
        
        {{#if isSelf}}
            <a class="btn btn-navbar-green" style="float: right;" href="/editprofile">Edit Profile</a>
            <br>
        {{/if}}
        <img class="userpfp" src={{user.profilepicture}}>
        <h1>{{user.username}}</h1>
        <p>{{user.bio}}</p>
        {{#if isSelf}}
            <a class="btn btn-navbar-green" href="/upload">Create Post</a>
        {{/if}}
        <br>
        <br>
    {{#each posts}}

<div class="card">
    <h2>{{post.title}}</h2>
    <img class="card-img" src="{{post.titleimagepath}}" alt="{{post.title}}">
    <p>{{post.likes}} Likes {{commentCount}} Comments <small>{{post.formattedCreateTime}}</small></p>

    <p>
    {{#each tags}}
    #{{this.tagname}} 
    {{/each}}
    </p>
    <a href={{postLink}} class="stretched-link"></a>
</div>

    {{/each}}
</div>

